* {
    font-family: "Montserrat", system-ui, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

h1 {
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    color: #42424A;
    margin: 0px;
    line-height: 50px;
}

p {
    text-align: center;
    line-height: 26px;
    color: #434354;
    font-size: 16px;
}

.bold {
    font-size: 17px;
    font-weight: 600;
    color: #232929;
    line-height: 27px;
    opacity: 1;
}

.btn {
    padding: 14px 60px;
    margin: 50px 15px;
    border-radius: 30px;
    background-color: rgb(171, 201, 5);
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    border: none;
    transition: background-color 10ms ease-in-out;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(132, 164, 3);
    transition: background-color 90ms ease-in-out;
}

#nav-bar {
    height: 70px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    transition: background-color 0.3s ease-in-out;
}

#nav-bar-transparent {
    height: 70px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    transition: background-color 0.3s ease-in-out;
}

#nav-bar-logo-img {
    pointer-events: all;
    opacity: 1;
}

.nav-bar-a span {
    pointer-events: all;
    opacity: 1;
}

#nav-bar-centered {
    height: 100%;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

#nav-bar-logo {
    align-items: center;
    padding-left: 15px;
}

#nav-bar-logo-img {
    height: 50px;
    margin-top: 10px;
}

#nav-bar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    float: right;
    height: 100%;
    margin-left: 275px;
}

#nav-bar-ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

#nav-bar-li-leftmost {
    margin-left: 0px;
}

.nav-bar-a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #42424A;
}

.nav-bar-a:hover {
    color: rgb(150, 148, 0);
}

a.current-green {
    color: rgb(150, 148, 0);
}

#nav-bar-eng-span {
    margin: 0 25px;
    cursor: pointer;
}

#container-row-1 {
    display: flex;
    flex-direction: row;
}

#img-container-homepage-1 {
    flex: 1;
    background-image: url("images/homepage-people-1.jpg");
    background-size: cover;
}


#main-header-div {
    flex: 1;
    padding: 180px 0px;
    padding-bottom: 70px;
    background-color: rgba(241, 244, 237, 1.0);
    text-align: center;
    height: fit-content;
}

#main-header-h1 {
    margin-bottom: 20px;
}

#main-header-p {
    margin: 0 150px;
    color: #555555;
}

.introduction-div {
    background-color: white;
    z-index: 10;
    position: relative;
    padding-top: 80px;
}

#introduction-p {
    padding-top: 30px;
    margin: 0 34.5%;
    line-height: 29px;
}

#two-column-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.column {
    flex: 1;
    margin-right: 20px;
    text-align: left;
    max-width: 575px;
}

#first-column {
    margin-left: 10px;
}

#second-column {
    margin-left: 20px;
}

.column p {
    text-align: left;
}

.column p:not(.bold) {
    margin-bottom: 40px;
}

.icon {
    height: 16px;
    margin-right: 10px;
    margin-bottom: -2px;
}

#btn-container-intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

#read-more-btn-intro {
    margin: 0;
    margin-top: 10px;
}

#top-image-container {
    background-color: none;
}

#top-image {

}