* {
    font-family: "Montserrat", system-ui, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

h1 {
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    color: #42424A;
    margin: 0px;
    line-height: 50px;
}

h2 {
    font-size: 26px;
    line-height: 45px;
    color: #42424A;
    text-align: center;
}

p {
    text-align: center;
    line-height: 26px;
    color: #434354;
    font-size: 16px;
}

.centered {
    text-align: center;
}

a {
    text-decoration: none;
    color: #a9c600;
}

a:hover {
    text-decoration: underline;
}

::selection {
    color: #FFFFFF;
    background: #a9c600;
}

.bold {
    font-size: 17px;
    font-weight: 600;
    color: #232929;
    line-height: 27px;
    opacity: 1;
}

.green {
    color: rgb(132, 164, 3);
}

.info-text {
    text-align: left;
}

.btn {
    padding: 14px 60px;
    margin: 50px 15px;
    border-radius: 30px;
    background-color: rgb(171, 201, 5);
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    border: none;
    transition: background-color 10ms ease-in-out;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(132, 164, 3);
    transition: background-color 90ms ease-in-out;
}

#nav-bar {
    height: 70px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    transition: background-color 0.3s ease-in-out;
    z-index: 69;
}

#nav-bar-transparent {
    height: 70px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    transition: background-color 0.3s ease-in-out;
    z-index: 69;
}

#nav-bar-logo-img {
    pointer-events: all;
    opacity: 1;
}

.nav-bar-a span {
    pointer-events: all;
    opacity: 1;
}

#nav-bar-centered {
    height: 100%;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

#nav-bar-logo {
    align-items: center;
    padding-left: 15px;
}

#nav-bar-logo-img {
    height: 50px;
    margin-top: 10px;
}

#nav-bar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    float: right;
    height: 100%;
    margin-left: 275px;
}

#nav-bar-ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

#nav-bar-li-leftmost {
    margin-left: 0px;
}

.nav-bar-a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #42424A;
}

.nav-bar-a:hover {
    color: rgb(150, 148, 0);
}

a.current-green {
    color: rgb(150, 148, 0);
}

#nav-bar-eng-span {
    margin: 0 25px;
    cursor: pointer;
}

#container-row-1 {
    display: flex;
    flex-direction: row;
}

#img-container-homepage-1 {
    flex: 1;
    background-image: url("images/homepage-people-1.jpg");
    background-size: cover;
}


#main-header-div {
    flex: 1;
    padding: 180px 0px;
    padding-bottom: 70px;
    background-color: rgba(241, 244, 237, 1.0);
    text-align: center;
    height: fit-content;
}

#main-header-h1 {
    margin-bottom: 20px;
}

#main-header-p {
    margin: 0 150px;
    color: #555555;
}

#introduction-div {
    background-color: white;
    z-index: 10;
    position: relative;
    padding-top: 80px;
}

#introduction-p {
    padding-top: 30px;
    margin: 0 34.5%;
    line-height: 29px;
}

#two-column-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.column {
    flex: 1;
    margin-right: 20px;
    text-align: left;
    max-width: 575px;
}

#first-column {
    margin-left: 10px;
}

#second-column {
    margin-left: 20px;
}

.column p {
    text-align: left;
}

.column p:not(.bold) {
    margin-bottom: 40px;
}

.icon {
    height: 16px;
    margin-right: 10px;
    margin-bottom: -2px;
}

#btn-container-intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

#read-more-btn-intro {
    margin: 0;
    margin-top: 10px;
}

#customer-reviews {
    position: relative;
    background-color: rgb(169, 198, 0);
}

#top-image-container {
    margin-top: 100px;
    background-color: rgb(169, 198, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-slider-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

#main-slider {
    background-color: rgb(169, 198, 0);
    min-height: 300px;
}

.main-slider {
    width: 100%;
    margin: 0 auto;
}

.slide {
    padding: 20px;
    background-color: rgb(169, 198, 0);
}

.slide-content {
    padding-top: 40px;
    max-width: 800px;
    margin-left: 0;
    text-align: left;
}

.slide-p {
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    margin-bottom: 10px;
    color: #FFFFFF;
    text-align: left;
    width: 720px;
}

/* Style the previous arrow */
.slick-prev.slick-arrow {
    all: unset;
    display: inline-block;
    position: absolute;
    margin: auto 0;
    left: 35px;
    padding: 10px;
    width: fit-content;
    z-index: 1;
    font-size: 24px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 300ms ease-in-out;
}

.slick-prev.slick-arrow::before {
    content: '';
    display: inline-block;
    background-image: none;
}

.slick-prev.slick-arrow:hover {
    opacity: 0.6;
}

/* Style the next arrow */
.slick-next.slick-arrow {
    all: unset;
    display: inline-block;
    position: absolute;
    margin: auto 0;
    right: 35px;
    padding: 10px;
    width: fit-content;
    z-index: 1;
    font-size: 24px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 300ms ease-in-out;
}

.slick-next.slick-arrow::before {
    content: '';
    display: inline-block;
    background-image: none;
}

.slick-next.slick-arrow:hover {
    opacity: 0.6;
}

.arrow {
    height: 35px;
}

#bottom-image-container {
    margin-bottom: 100px;
    background-color: rgb(169, 198, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#reco-iframe {
    width: 230px;
    bottom: 0;
    right: 0;
    margin-left: 50px;
    position: absolute;
    margin-bottom: -35px;
}

#make-book-keeping-easy {
    max-width: 1100px;
    margin: 0 auto;
}

.book-keeping-step {
    position: relative;
    margin-bottom: 30px;
}

#step-three {
    margin-bottom: 200px;
}

.point-text {
    display: inline-block;
    padding-left: 80px;
    margin-top: 0px;
    vertical-align: top;
}

.bold.green.info-text {
    margin-bottom: 25px;
}

.info-text {
    position: static;
    max-width: 860px;
}

/* Footer */
footer {
    background-color: #42424A;
    position: relative;
    padding-top: 110px;
}

#two-column-container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column-footer {
    flex: 1;
    margin-right: 20px;
    text-align: left;
    max-width: 575px;
    box-sizing: border-box;
}

#first-column-footer {
    margin-left: 10px;
}

#second-column-footer {
    margin-left: 20px;
}

footer h2 {
    color: #FFFFFF;
    text-align: left;
}

footer h2:hover {
    color: #a9c600;
    text-align: left;
}

footer p, footer p.bold {
    color: #d3d3d3;
    text-align: left;
}

footer a {
    text-decoration: none;
}

footer a.white-green-a {
    color: #d3d3d3;
}

.white-green-a:hover {
    text-decoration: dashed;
    color: #a9c600;
}

.social-media-icon {
    width: 35px;
    padding: 10px;
    vertical-align: middle;
}

#far-winner-logo-container {
    margin-left: 27%;
}

#far-winner-logo {
    width: 179px;
}

#multiple-logo-container {
    margin-left: 27%;
    padding-bottom: 100px;
}

.footer-logo {
    margin: 0 15px;
    vertical-align: middle;
}

#logo-bisnode {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    width: 98px;
}

#logo-far {
    width: 95px;
}

#logo-reco {
    width: 116px;
}

#copy-right-div {
    height: 140px;
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

#footer-arrow-a {
    align-self: center;
    padding-top: 30px;
}

#footer-arrow {
    width: 20px;
}

#copy-right-text {
    text-align: center;
    padding-top: 10px;
}


/* Vårt erbjudande */
#hero-container {
    width: 100%;
    height: 550px;
    background-image: url(images/vårt_erbjudande_hero.jpg);
    background-position: center center;
    background-size: cover;
}

#win-win-for-everyone-container {
    background-color: rgb(248, 248, 248);
    padding-top: 150px;
    padding-bottom: 110px;
}

#win-win-for-everyone-info {
    max-width: 789px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 50px;
}

#all-services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 248);
    padding-bottom: 70px;
}

#all-services-grid {
    background-color: rgb(248, 248, 248);
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.service-box {
    max-width: 387px;
    min-height: 504px;
    padding: 30px;
    background-color: #FFFFFF;
    position: relative;
}

.service-box-header {
    text-align: center;
    margin-top: -15px;
}

.big-briefcase-img {
    width: 27px;
    display: inline-block;
    fill: #42424A;
    vertical-align: middle;
}

.service-h4 {
    display: inline-block;
    font-size: 26px;
    color: #42424A;
    margin-left: 12px;
    vertical-align: middle;
}

.service-box p {
    max-width: 322px;
}

.service-box a {
    text-decoration: none;
    color: #a9c600;
}

.services-btn-container {
    width: 100%;
    height: fit-content;
    bottom: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
}

/* Area of expertise */
#our-area-of-expertise-container h2 {
    margin-top: 75px;
    font-size: 35px;
    line-height: 55px;
}

#two-column-area-of-expertise {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto;
    margin-top: 35px;
}

#column2-area-of-expertise, #column1-area-of-expertise {
    max-width: 620px;
    margin-left: 20px;
    margin-right: 20px;
}

.column-icons-area-of-expertise {
    width: 15px;
    vertical-align: middle;
}

#column2-area-of-expertise p.bold, #column1-area-of-expertise p.bold {
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
}

.contact-btn {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
}

#book-keeping-programs-h2 {
    font-size: 35px;
    line-height: 55px;
    margin-top: -15px;
}

#book-keeping-programs-long-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 75px;
}

.half-text {
    max-width: 600px;
    flex: 1;
    margin: 0 20px;
}

.half-text p {
    text-align: left;
}